@import 'styles/_variables.scss';

.calcularfrete {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;
    background-color: $main-color;
    transform: translate(-50%, 80vw);
    visibility: hidden;
    width: 80vw;
    max-width: 600px;
    opacity: 0;
    transition: 500ms;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0px 4px 50px $text-shadow;
    &__fretes {
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: space-between;
    }
    &__cidades {
        width: 80%;
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__opcoes {
        margin-top: 1rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__opcoes strong {
        color: $verde--forte;
        font-weight: bold;
    }
    &__close {
        &:hover {
            cursor: pointer;
        }
    }
}

.calcularfrete--aparecer {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}
.calcularfrete--div {
    position: fixed;
    z-index: 3;
    min-height: 100vh;
    min-width: 100vw;
    top: 50%;
    background-color: $text-shadow;
    left: 50%;
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
}

.calcularfrete--div--aparecer {
    opacity: 1;
    visibility: visible;
}
