@import "../../styles/variables";

.produto {
  &__imagem {
    margin: 1.5rem auto;
    display: block;
    box-shadow: 0px 4px 50px $text-shadow;
  }
  &__informacoes {
    background-color: $cinza-escuro;
    color: $main-color;
    box-shadow: 0px 4px 50px $text-shadow;
    padding: 1.5rem;
  }
  &__titulo {
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 1rem;
  }
  &__paragrafo {
    margin: 0.8rem 1rem;
  }
  &__paragrafo--precoAnterior {
    text-decoration: line-through;
  }
  &__paragrafo--precoAnt {
    margin-top: 1.5rem;
  }
  &__paragrafo--preco {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: bolder;
  }
  &__botoes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
  }
  &__botao {
    background-color: $main-color;
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: $cinza-escuro;
    font-weight: bold;
    padding: 0.8rem;
    font-size: 1.2rem;
    transition: 500ms;
    justify-content: space-evenly;
    width: 45%;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__content:first-child {
  }
  &__subtitulo {
    font-size: 1.2rem;
    margin: 2rem 1rem 0rem 1.5rem;
    font-weight: bolder;
  }
  &__share {
    margin-top: 1rem;
  }

  &__first {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (min-width: $small-medium) {
  .produto {
    &__inf {
      display: flex;
    }
    &__imagem {
      max-width: 400px;
    }
    &__informacoes {
        width: 40vw;
        border-radius: 0px 0px 0px 20px;
        max-height: 325px;
    }
    &__subtitulo {
        margin-left: 8vw;
    }
  }
}
