$text-shadow: rgba(0, 0, 0, 0.25);
$cinza-escuro: #3c3c3c;
$main-color: #e1e1e1;
$main-color-fraca: #e1e1e1b9;
$variant: #1D232A;

$pendente: #f09000;

$e-small:576px;
$small:576px;
$small-medium: 650px;
$medium:768px;
$large:992px;
$e-large:1200px;
$vermelho: #ff7878;
$vermelho--forte: #A80000;
$verde--forte: #0E6200;
$primary: #1976D2;

$scroll: #bdbdbd;