@import 'styles/_variables.scss';
.pedidos {
    min-height: 60vh;
    &__title {
        background-color: $cinza-escuro;
        color: $main-color;
        display: flex;
        align-items: center;
        width: 40vw;
        padding: 1rem;
        font-weight: bold;
        border-radius: 0px 0px 20px 0px;
      }
      &__title > p {
        margin-left: 1rem;
      }
    &__lista {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        padding: 1.5rem 0rem;
        justify-content: center;
        align-items: center;
    }
    &__item {
        box-shadow: 0px 4px 50px $text-shadow;
        margin: .5rem;
        padding: 1rem;
        max-width: 670px;
        min-height: 110px;
        border-radius: 20px;
        width: 90vw;
        display: grid;
        grid-template-columns: 10% 45% 45%;
        text-align: left;
    }
   

    &__subtitulo {
        color: $cinza-escuro;
        font-weight: bold;
        font-size: 1rem;
    }   
    &__paragrafo {
        color: rgb(77, 77, 77);
        
    }
    &__produto--link {
        &:hover {
            text-decoration: underline;
        }
        
    }
    &__paragrafo--vermelho {
        color: $vermelho--forte;
        
    }
    &__paragrafo--verde {
        color: $verde--forte;
        
    }
    &__paragrafo--pendente {
        color: $pendente;
        
    }
    &__paragrafo--naotem {
        margin-top: 5rem;
    }
    &__coluna {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__coluna:nth-child(2) {
        padding-left: .5rem;
    }
    &__botao {
        background-color: $variant;
        color: $main-color;
        border-radius: 8px;
        box-shadow: 0px 4px 30px $text-shadow;
        padding: .5rem 1rem;
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}
.menu {
    margin-top: 1rem;
    text-align: center;
    &__lista {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      background-color: $variant;
      color: $main-color;
      padding: 1rem;
    }
  
    &__item {
      margin: 0.2rem;
      &:hover {
        cursor: pointer;
      }
    }
    &__svg {
      display: inline-block;
    }
  }
  

@media (min-width: $medium) {
    .pedidos {
        &__botao {
            transition: 500ms; 
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}