@import "../../styles/variables";

.navegacao {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    &__menu {
        margin-left: 1rem;
        width: 45px;
        filter: drop-shadow(0px 4px 15px $text-shadow);
    }
    &__logo {
        position: absolute;
        left: 10vw;
        width: 20vw;
        top: .5rem;
        filter: drop-shadow(0px 4px 15px $text-shadow);
    }
    &__search {
        border: none;
        border-radius: 15px;
        box-shadow: 0px 4px 50px $text-shadow;
        padding: .4rem;
        padding-left: 1.2rem;
        font-family: "Nunito";
        font-size: 1.2rem;
        width: 25vw;
        &::placeholder {
            opacity: .5;
        }
    }
    &__account {
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
        width: 100px;
    }
    &__profile {
        filter: drop-shadow(0px 4px 15px $text-shadow);
        width: 45px;
    }
    &__cart {
        filter: drop-shadow(0px 4px 15px $text-shadow);
        width: 45px;
    }
}