@import "../../styles/variables";

.arrowdown {
  margin: 0 auto;
  display: block;
  width: 40px;
  transform: translateY(-1vw);
  animation: fordown 2s infinite;
}

.lista--categoria {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  justify-content: space-around;
}

.lista--categoria__item {
  width: 230px;
  height: 230px;
  display: flex;
  vertical-align: center;
  justify-content: center;
}

.lista--categoria__item--paragrafo {
}

@keyframes fordown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(1vw);
  }
}

.emdestaque__titulo {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 0 2rem;

}

.emdestaque__lista {
  display: flex;
  width: 75vw;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  padding-top: 2rem;
}

.emdestaque__lista--item:first-child {
  margin-left: 20vw;
}
.emdestaque__lista--item:last-child {
  margin-right: 20vw;
}

.emdestaque__lista--item {
  border-radius: 20px;
  text-align: left;
  white-space: nowrap;
  box-shadow: 0px 4px 50px $text-shadow;
  display: inline-block;
  flex-direction: column;
  border-radius: 20px;
  max-width: 250px;
  width: 60vw;
  margin: 2.5rem 1rem 2.5rem 1rem;
  height: 290px;
  background-color: $main-color;
  box-shadow: 0px 4px 50px $text-shadow;
}

.lista__imagem {
  height: 50%;
  overflow: hidden;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.lista {
    &__legenda {
      width: 80%;
      padding-top: .5rem;
      margin: 0 auto;
    }
    &__subtitulo {
        color: $cinza-escuro;
        font-size: 1.2rem;
        font-weight: bold;
        margin: .5rem 0 0 0;
    }
    &__categoria {
      font-size: .9rem;
    }
    &__preco {
      text-decoration: line-through;
      margin: .5rem 0 0 0;
      font-size: .9rem;
    }
    &__promo {
      font-weight: bold;
      font-size: 1.2rem;
    }
    &__comprar {
        background-color: $cinza-escuro;
        border: none;
        display: block;
        position: relative;
        margin: 0 auto;
        bottom: -10px;
        border-radius: 10px;
        color: $main-color;
        padding: .5rem;
        width: 100%;
        box-shadow: 0px 4px 50px $text-shadow;
        transition-duration: 500ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.lista__foto--slicer {
  text-align: center !important;
  margin: 0 auto;
  width: 60%;
}

.alice-carousel__stage-item   {
  text-align: center !important;
}

.sliding {
  white-space: nowrap;
}

.slider__div {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.arrowback {
  position: absolute;
}

.arrownext {
  position: absolute;
  right: 0;
}

.newsletter {
  background-color: $cinza-escuro;
  padding: 2rem;
  box-shadow: 0px 4px 50px $text-shadow;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__titulo {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: $main-color;
  }
  &__nome {
    margin: 1rem .5rem .5rem .5rem;
    border-radius: 20px;
    padding: .5rem;
  }
  &__email {
    margin-bottom: 1rem;
    border-radius: 20px;
    padding: .5rem;
  }
  &__botao {
    border-radius: 20px;
    color: $main-color;
    font-weight: bolder;
    border: none;
    background-color: $variant;
    padding: .8rem;
    transition-duration: 500ms;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.maisvendidos {

  &__titulo {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 2rem 0 0 2rem;
  }
}

.vertodos {
  position: absolute;
  right: 1.2rem;
  transform: translateY(10rem);
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.carousel {
  &__desktop {
    visibility: hidden;
  }
}

@media (min-width: $medium) {
  .emdestaque {
    &__titulo {
      margin-left: 8vw;
    }
  }
  .maisvendidos {
    &__titulo {
      margin-left: 8vw;

    }
  }
  .arrowback {
    transition: 500ms;
    &:hover {
      transform: scale(1.1);
    }
  }
  
  .arrownext {

  }
}